<div class="container" ng-app="CardsAgainstRails">
	<header class='navbar'>
		<h1 class='pull-left'>Cards Against Rails</h1>
    </header>

    <section id="cards" class='container-fluid' ng-view>
    </section>

    <hr/>
    
    <wdi-card question="Why is Angular so awesome?"></wdi-card>

    <footer>
    	<p>Made with <span class='heart'>â™¥ï¸</span> at General Assembly</p>
    </footer>
</div>

